* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 4000px;
}

button {
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: cornflowerblue;
    color: aliceblue;
    padding: 5px;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    /* display: none; */
}